.player-pannel{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E9E8E6;
  text-align: center;
}

.button {
  border-radius: 50%;
  padding: 3rem;
  color: white;
  background-color: #DE421A;
  border: 0;
  box-shadow: unset;
  font-size: 22px;
  height: 175px;
  width: 175px;
  cursor: pointer;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}